.calendar-filter {
    .intro {
        margin:0 0 1em 0;
        font-size:em(18,$fs);
    }
    
    .calendar-toggle {
        float:left;
        margin-top:3px;

        p {
            font-size:em(15,$fs);
            font-style:italic;
            float:left;
            margin:3px 10px 0 20px;
        }

        .toggle_calendar {
            background:none;
            float:left;
            border:0;
            color:#999;
            padding:0 8px;
            font-size:em(28,$fs);
            @extend %icon;
            transition:color 350ms ease-in-out;

            &:hover {
                color:$secondary;
            }

            &.on {
                color:$primary;
            }

            + button {
                margin-right:5px;
                line-height:31px;
            }
        }
    }

    .btn {
        @extend %btn;
        float:right;
    }
}

.single-datetime {
    display:block;
    background:$primary;
    margin-bottom:1em;
    padding:10px 10px 10px 20px;

    span {
        color:white;
        font-size:em(22,$fs);
        margin-right:1em;

        &:before {
            margin-right:10px;
        }
    }
}

.calendar-wrap {
    position:relative;
    overflow:hidden;
    margin-top:1em;

    .views {
        position:relative;
        width:100%;
        left:0;
        top:0;
        opacity:1;
        transition:opacity 500ms ease-in-out;

        &.hidden {
            opacity:0;
            position:absolute;
            z-index:-1;
        }

        &.calendar {
            .first-section > p {
                font-size:em(14,$fs);
            }
        }
    }
}

.listed-event {
    background:$gray;
    border:1px solid darken($gray,15%);
    position:relative;
    min-height:200px;
    overflow:hidden;

    + .listed-event {
        margin-top:1em;
    }

    h4 {
        text-transform:uppercase;
        color:$secondary;
        font-size:em(14,$fs);
        margin-bottom:0.25em;
        font-weight:bold;
    }

    h3 {
        font-size:em(20,$fs);
        color:black;
        font-weight:600;
        margin-bottom:0;
    }

    p {
        font-size:em(15,$fs);
        color:black;

        &:last-child {
            margin-bottom:0;
            font-size:em(16,$fs);
        }
    }

    img {
        max-width:100%;
        height:auto;
        float:left;
    }

    .date {
        color:#999;
        font-style:italic;
        font-weight:600;
        margin-bottom:10px;
        font-size:em(15,$fs);
    }

    .text {
        margin-left:30px;
        float:left;
        padding:20px 0;
        width:calc(100% - 440px);
    }

    .more {
        @extend %btn;
        clear:both;
        display:inline-block;
        float:right;
    }
}

.load-more {
    clear:both;
    margin:2em auto 2em 50%;
    color:white;
    font-size:em(16,$fs);
    transform:translateX(-50%);
    @extend %btn;
}

.em-calendar-wrapper {
    .calendar-header {
        height:52px;
        clear:both;
        width:100%;
        background:$secondary;

        .month {
            font-size:em(30,$fs);
            color:white;
            float:left;
            padding:0 20px;
            line-height:1;
            height:100%;
            line-height:52px;
        }

        .nextprev {
            float:right;
            height:52px;
            margin:0;
            padding:0;

            li {
                font-size:em(16,$fs);
                padding-left:0;
                margin-bottom:0;
                width:60px;
                height:100%;
                display:inline-block;

                &:before {
                    display:none;
                }

                a {
                    font-size:em(36,$fs);
                    color:white;
                    background:none;
                    display:block;
                    line-height:52px;
                    text-align:center;
                    @extend %icon;
                    transition:color 350ms ease-in-out;

                    &:hover {
                        background:none;
                        color:$gray;
                    }
                }
            }
        }
    }

    .we-have-events {
        position:absolute;
        left:12px;
        bottom:12px;
        width:calc(100% - 12px);
        font-size:em(15,$fs);
        color:darken($gray,15%);
    }

    .calendar-events {
        position:absolute;
        top:0;
        left:-9999px;
        margin:0;
        background:white;
        width:100%;
        height:100%;
        padding:5px 10px 10px 10px;
        z-index:10;
        overflow:scroll;
        transform:translateY(20px);
        transition-property:transform, -webkit-transform, left, opacity;
        transition-duration:350ms, 350ms, 0ms, 350ms;
        transition-delay:0ms, 0ms, 350ms, 0ms;
        transition-timing-function:ease-in-out;
        opacity:0;

        li {
            list-style:none;
            width:100%;
            padding:0;
            margin-bottom:0;
            position:static;

            &:before {
                display:none;
            }

            + li {
                border-top:1px solid #eee;
                padding-top:5px;
                margin-top:5px;
            }
        }

        a {
            display:block;
            color:$primary;
            font-size:em(13,$fs);
            border:0;
            line-height:1;
            text-decoration:none;
            transition:color 350ms ease-in-out;

            &:hover {
                color:$secondary;
                border:0;
                background:none;
            }
        }
    }

    table.em-calendar {
        border:1px solid $gray;
        width:100%;

        td {
            font-size:em(16,$fs);
            padding:0;
            position:relative;
            border-color:$gray;

            &.eventful-pre {
                color:#ccc;
            }

            &.eventless-today,
            &.eventful-today {
                background:none;

                .date {
                    background:$primary;
                    color:white;
                }
            }

            &.eventful-post {
                color:#ccc;
            }

            &.eventful a,
            &.eventful-today a {
                color:$primary;

                &:hover {
                    color:$secondary;
                    background:none;
                }
            }

            .wrapp {
                height:0;
                padding-bottom:100%;
            }

            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7){
                li:hover {
                    > .hover {
                        left:calc(-175% + 20px);
                    }
                }
            }

            &.eventful-pre {
                a {
                    text-decoration:none;
                    color:$primary;

                    &:hover {
                        color:$secondary;
                        background:none;
                    }
                }
            }
            
            &.eventful-today:hover,
            &.eventful-pre:hover,
            &.eventful:hover {
                .calendar-events {
                    opacity:1;
                    transform:translateY(0px);
                    transition-property:transform, -webkit-transform, left, opacity;
                    transition-duration:350ms, 350ms, 0ms, 350ms;
                    transition-delay:0ms, 0ms, 0ms, 0ms;
                    transition-timing-function:ease-in-out;
                    left:0;
                }
            }
        }

        tr.days-names td {
            font-size:em(15,$fs);
            padding:6px;
            width:percentage(1/7);
            background:#eff2f5;
            text-align:center;
        }

        .date {
            font-size:em(26,$fs);
            font-weight:200;
            position:absolute;
            left:6px;
            top:6px;
            line-height:1;
            width:40px;
            height:40px;
            line-height:38px;
            border-radius:50%;
            text-align:center;
        }

        tr:last-child {
            .calendar-events {
                li:hover {
                    > .hover {
                        transform:translateY(-70px);
                    }
                }
            }
        }
    }
}

// - - - - - - - - - - - - - SINGLE

body.single-event {
    .date-single {
        background:#eee;
        padding:10px;
        width:100%;
        margin-bottom:1em;
        font-size:em(17,$fs);

        .right {
            float:right;

            a {
                @extend %icon;
                color:$primary;
                display:inline-block;
                position:relative;
                top:1px;
                line-height:1;
                margin-right:5px;
                font-size:em(18,$fs);
            }
        }
    
        .backto {
            float:left;
            position:relative;
            top:2px;
            margin-right:20px;
            font-size:em(14,$fs);
        }
    }
}

div#em-loading {
    z-index:99;
}

.dropdownreplace {
     background:#eff2f5;
     border:1px solid $gray;
     width:100%;
     padding:0;
     line-height:34px;
     cursor:pointer;
     font-weight:300;
     letter-spacing:0.5px;
     display:block;
     float:left;
     margin-bottom:0.5em;
     position:relative;
     z-index:10;

    .current {
        display:block;
        font-size:em(17,$fs);
        padding:0 34px 0 10px;
        text-align:left;
        color:$primary;
        font-weight:bold;
        text-decoration:none;

        &:after {
            content:'\e802';
            position:absolute;
            line-height:37px;
            top:-1px;
            right:-1px;
            width:40px;
            height:36px;
            text-align:center;
            color:white;
            font-size:em(20,$fs);
            background:$secondary;
            @extend %icon;
        }
    }

    .selection {
        position:absolute;
        width:100%;
        border:1px solid $gray;
        background:white;
        padding:5px 10px;
        
        left:-9999px;
        top:120%;
        opacity:0;
        transition:top 200ms ease-in-out 0ms,opacity 100ms linear 0ms,left 0ms linear 0ms;

        &::before {
            content:'';
            width:0;
            height:0;
            border-style:solid;
            border-width:0 8px 8px 8px;
            border-color:transparent transparent white transparent;
            position:absolute;
            top:-8px;
            left:17px;
        }
    }
    
    ul.selection-list {
        width:100%;
        list-style:none;
        list-style-image:none;
        text-align:left;
        overflow:auto;
        margin:0;
        padding:0;
        position:relative;

        li {
            padding:0;
            line-height:1.3em;
            transition:all 300ms ease-in-out;
            color:black;
            font-style:italic;
            font-size:em(17,$fs);
            cursor:pointer;
            font-weight:400;
            margin-bottom:0;

            &:before {
                display:none;
            }

            + li {
                border-top:1px solid #eee;
            }

            &.noborder {
                border-top:0;
            }

            &.title {
                padding:10px;
                cursor:default;

                &:hover {
                    color:#333;
                }
            }

            a {
                color:$primary;
                display:block;
                padding:10px 0 10px 8px;
                text-decoration:none;
                transition:color 350ms ease-in-out;

                &:hover {
                    color:$secondary;
                }

                &.disabled {
                    color:#eee;
                }
            }

            &.current {
                font-weight:500;
                color:$secondary;
            }
        }
    }

    &.open {
        .selection {
            left:0;
            top:100%;
            opacity:1;
            transition:top 200ms ease-in-out 0ms,opacity 100ms linear 0ms,left 0ms linear 0ms;
        }
    }
}


@include mqmax( 768px ) {
    .views.list .listed-event {
        img {
            position:absolute;
            left:0;
            top:50%;
            width:100%;
            -webkit-filter:blur(2px);
            filter:blur(2px);
            opacity:0.20;
            transform:translateY(-50%);
        }

        .text {
            position:relative;
            margin-left:0;
            padding:15px;
            width:100%;
            right:auto;
            transform:translateY(0);
        }
    }
}

@include mqmax( 650px ) {
    .calendar-filter .calendar-toggle {
        display:none;
    }

    .calendar-wrap .views {
        &.calendar {
            display:none;
        }

        &.list {
            position:relative;
            opacity:1;
            z-index:1;
        }
    }
}

@include mqmin( 900px ) {
    .dropdownreplace {
        max-width:275px;
        float:left;
        width:32%;
    }
}


// EVENT FORM

#event-form {
    p.submit {
        @extend %btn;
        padding:0;
        height:46px;
        margin-bottom:1px;
        width:190px;
        font-size:1em;

        input {
            font-size:1.2em;
            color:white;
            background:none;
            border:0;
            display:inline-block;
            width:100%;
            height:100%;
            cursor:pointer;
            font-weight:600;
            letter-spacing:0;
            text-shadow:0 0 15px rgba(0,0,0,0.5);
        }
    }
    
    input[type=checkbox] {
        width:auto;
    }

    .wrappy {
        h3 {
            font-size:em(23,$fs);
            padding-top:1em;
            border-top:1px solid #eee;
        }
    }

    em.description {
        color:#999;
        font-size:em(15,$fs);
        display: inline-block;
        width:100%;
        text-align: left;
    }

    #qt_em-editor-content_toolbar {
        input {
            width:auto;
        }
    }

    .em-date-range {
        overflow:hidden;

        .float {
            float:left;
            width:49%;

            + .float {
                float:right;
            }
        }
    }

    .event-categories select {
        height:auto;
    }

    .em-location-data {
        input {
            margin-bottom:6px;
        }
    }

    #event-image-img {
        color:#eee;
        font-style:italic;

        display:none;
    }

    #event-name#event-name {
        width:100%;
        padding:15px 10px;
    }

    #em-location-data {
        table.em-location-data {
            width:100%;
            float:none;
        }

        .em-location-map-container {
            width:100%;
            float:none;
            margin-top:15px;
            background:#eee;
            position:relative;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate3d(-50%,-50%,0);
            }
        }

        table.em-location-data td,
        table.em-location-data th {
            text-align: right;
            padding-right:10px;
        }

        table.em-location-data th {
            i {
                color:$primary;
                font-style:normal;
                font-weight:200;
            }
        }
    }

    #em-map {
        height:0;
        padding-bottom:37%;
        display: block;
        width:100%;
    }

    .gfield {
        br {
            display: none;
        }

        select {
            width:100% !important;
        }

        > label {
            width:100%;
        }
    }

    .wrappy {
        padding:0;
    }

    .event-form-image {
        margin-top:1em;

        input[type=file] {
            width: 0.1px;
            height: 0.1px;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            opacity:0;
        }

        label {
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            position:relative;
            padding:10px;
            text-align:center;
            color: $black;
            background:white;
            border:2px dashed #eee;
            transition:border 300ms ease-in-out;

            span {
                margin-top:3px;
                color:$primary;
                font-size:em(14,$fs);
                display:block;
            }

            &:hover {
                border-color:$primary;
            }

            &:before {
                content: '\e817';
                margin-right:10px;
                display: inline-block;
                @extend %icon;
            }
        }

        input[type=button] {
            background:$secondary;
            border:0;
            padding:5px 20px;
            font-weight:200;
            color:white;
            font-size:em(18,$fs);
        }
    }
}

div.time-picker {
    li {
        height:17px !important;
    }
}

.statusnotice {
    .em-warning {
        border-radius:0;
        border:0;

        &.updated {
            background:$secondary;
            p {
                color:white;
            }
        }
    }
}